
{% block content %}
{% if validlink %}
<h2>Réinitialisation de mot de passe </h2>
<p>Veuillez saisir votre nouveau mot de passe.</p>
<form method="post">
	{% csrf_token %}

    Mon nouveau mot de passe : {{ form.new_password1 }}
    <br>
    Confirmer mon nouveau mot de passe : {{ form.new_password2 }}
    <br>
	<button type="submit">Changer mon mot de passe</button>
</form>
{% else %}
<h2>Echec de réinitialisation du mot de passe</h2>
<p>Le lien de réinitialisation de mot de passe est invalide. </p>
{% endif %}
{% endblock content %}