<!DOCTYPE html>

<html>

{% extends 'base.html' %}

<body>
    {% block content %}
      
        {% for contact in contacts %}
        <p>{{contact.nom}}   absolute url = {{contact.get_absolute_url}} </p>
        <a href = {{contact.get_absolute_url}} >
          {% csrf_token %}  
          {{contact.nom}}
        </a>
        {% endfor %}  
    {% endblock content %}
</body>



<form method = 'POST' action ="{% url 'profile' %}">
    {% csrf_token %}
    <button type="submit" >Visualisation de mon profil</button> 

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

</html>